---
layout: default
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>{{ site.name }}</title>
    <!-- seo shit -->
    <meta property="og:title" content="{{ site.brand }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html','' | replace:'.html','' }}" />
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.logo }}.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.logo }}.webp" />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="yandex-verification" content="{{ site.verification.yandex }}" />
    <meta name="google-site-verification" content="{{ site.verification.google }}" />
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}">
    <!-- link sharing shit -->
    <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}{{ site.icon }}.png" type="image/png">
    <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}{{ site.icon }}.webp" type="image/webp">
    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}{{ site.icon }}.png" type="image/png">
    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}{{ site.icon }}.webp" type="image/webp">
    <link rel="apple-touch-icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}{{ site.icon }}.png" />
    <!-- webp support check -->
    <script>{% include webp.js %}</script>
    <!-- bare-minimal css with elements positions -->
    <style>{% include minimal.css %}</style>
</head>
<body>
    <div class="soviet">
        <picture>
            <source type="image/webp" srcset="/assets/img/sovet.webp">
            <img src="/assets/img/sovet.png" alt="{{ site.description }}">
        </picture>
    </div>
    <div class="bigshell">
        <div class="in">
            <div class="text-shell1">
                <h2 class="heading1">Призыв к оружию</h2>
                <p class="text1">Совету нужны бравые бойцы на выгодное правое дело - войну с демонами и прочей нечистью, что пытается захватить Азерот.
                Вступай в ряды отважных воинов света.</p>
                <div class="center">
                    <a href="{{ site.url }}/discord" class="btn" target="_blank" rel="nofollow" alt="Discord">
                        <picture>
                            <source type="image/webp" srcset="/assets/img/buttons/discord.webp">
                            <img src="/assets/img/buttons/discord.png" alt="Discord">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="logohorde">
                <picture>
                    <source type="image/webp" srcset="/assets/img/horde.webp">
                    <img src="/assets/img/horde.png" class="center">
                </picture>
            </div>
            <div class="text-shell2">
                <h2 class="heading2">Достижения</h2>
                <p class="text2">Совет Тирисфаля не сидел сложа руки. О достигнутых целях вам раскажут менестрели, барды и летописи тех лет.</p>
                <div class="center">
                    <a href="{{ site.url }}/rio" class="btn btn-mr" target="_blank" rel="nofollow" alt="Raider.IO">
                        <picture>
                            <source type="image/webp" srcset="/assets/img/buttons/rio.webp">
                            <img src="/assets/img/buttons/rio.png" alt="Raider.IO">
                        </picture>
                    </a>
                    <a href="{{ site.url }}/wowprogress" class="btn btn-mr" target="_blank" rel="nofollow" alt="Wowprogress">
                        <picture>
                            <source type="image/webp" srcset="/assets/img/buttons/wowprogress.webp">
                            <img src="/assets/img/buttons/wowprogress.png" alt="Wowprogress">
                        </picture>
                    </a>
                    <a href="{{ site.url }}/logs" class="btn" target="_blank" rel="nofollow" alt="Warcraft Logs">
                        <picture>
                            <source type="image/webp" srcset="/assets/img/buttons/logs.webp">
                            <img src="/assets/img/buttons/logs.png" alt="Warcraft Logs">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
        <div id="raid-progress" class="text-shell-bottom"><p>
            Ульдир <code id="rp-uldir"></code> |
            Битва за Дазар'алор <code id="rp-battle-of-dazaralor"></code> |
            Вечный Дворец <code id="rp-the-eternal-palace"></code> |
            Ниа'лота <code id="rp-nyalotha-the-waking-city"></code>
            </p>
        </div>
    </div>
    <!-- main css with all styles -->
    <link href="./assets/style.css" rel="stylesheet">
    <!-- custom fonts -->
    <style>{% include fonts.css %}</style>
    <!-- raid progress checker -->
    <script>{% include raid-progress.js %}</script>
</body>
